@font-face {
    font-family: 'Cera Pro';
    src: url('/assets/fonts/CeraPro-Regular.eot');
    src: url('/assets/fonts/CeraPro-Regular.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/CeraPro-Regular.woff2') format('woff2'),
        url('/assets/fonts/CeraPro-Regular.woff') format('woff'),
        url('/assets/fonts/CeraPro-Regular.ttf') format('truetype'),
        url('/assets/fonts/CeraPro-Regular.svg#CeraPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}


@font-face {
    font-family: 'Cera Pro';
    src: url('/assets/fonts/CeraPro-Light.eot');
    src: url('/assets/fonts/CeraPro-Light.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/CeraPro-Light.woff2') format('woff2'),
        url('/assets/fonts/CeraPro-Light.woff') format('woff'),
        url('/assets/fonts/CeraPro-Light.ttf') format('truetype'),
        url('/assets/fonts/CeraPro-Light.svg#CeraPro-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('/assets/fonts/CeraPro-Black.eot');
    src: url('/assets/fonts/CeraPro-Black.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/CeraPro-Black.woff2') format('woff2'),
        url('/assets/fonts/CeraPro-Black.woff') format('woff'),
        url('/assets/fonts/CeraPro-Black.ttf') format('truetype'),
        url('/assets/fonts/CeraPro-Black.svg#CeraPro-Black') format('svg');
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('/assets/fonts/CeraPro-Medium.eot');
    src: url('/assets/fonts/CeraPro-Medium.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/CeraPro-Medium.woff2') format('woff2'),
        url('/assets/fonts/CeraPro-Medium.woff') format('woff'),
        url('/assets/fonts/CeraPro-Medium.ttf') format('truetype'),
        url('/assets/fonts/CeraPro-Medium.svg#CeraPro-Medium') format('svg');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Cera Pro';
    src: url('/assets/fonts/CeraPro-Bold.eot');
    src: url('/assets/fonts/CeraPro-Bold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/CeraPro-Bold.woff2') format('woff2'),
        url('/assets/fonts/CeraPro-Bold.woff') format('woff'),
        url('/assets/fonts/CeraPro-Bold.ttf') format('truetype'),
        url('/assets/fonts/CeraPro-Bold.svg#CeraPro-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Segoe UI';
    src: url('/assets/fonts/SegoeUI-Semibold.eot');
    src: url('/assets/fonts/SegoeUI-Semibold.eot?#iefix') format('embedded-opentype'),
        url('/assets/fonts/SegoeUI-Semibold.woff2') format('woff2'),
        url('/assets/fonts/SegoeUI-Semibold.woff') format('woff'),
        url('/assets/fonts/SegoeUI-Semibold.ttf') format('truetype'),
        url('/assets/fonts/SegoeUI-Semibold.svg#SegoeUI-Semibold') format('svg');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}


