header {
    position: fixed;
    width: 100%;
    top: 0;
    background-color: $primary;
    padding: 20px 0;
    z-index: 9;

    @include maxOrientation(1024, portrait) {
        display: none;
    }
}

.header {
    &--links {
        &-sub {
            position: absolute;
            opacity: 0;
            pointer-events: none;
            width: 90%;
            left: 0;
            right: 0;
            border-radius: 20px;
            box-shadow:  0 3px 6px rgba($black, 0.16);
            padding: 20px;
            transition: all 0.3s ease-in-out;

            &::before {
                content: '';
                width: 100%;
                height: 50px;
                background-color: transparent;
                position: absolute;
                bottom: 100%;
            }
        }

        li {
            display: flex;
            align-items: center;
            justify-content: center;
            padding: 20px 0;
            
            &:hover {
                .header--links-sub {
                    opacity: 1;
                    pointer-events: all;
                }

                &::after {
                    transform: rotate(-180deg);
                }
            }

            &.moreLinks {
                &::after {
                    content: '';
                    background: url(/assets/images/down-arrow.svg) no-repeat;
                    background-size: 100%;
                    display: inline-block;
                    width: 15px;
                    height: 15px;
                    margin-left: 10px;
                    transition: all 0.5s ease-in-out;
                }
            }
        }

    }

    &--quote {
        padding: 10px;
        transition: all 0.3s ease-in-out;
        position: relative;

        &::after {
            content: '';
            width: 0;
            height: 0;
            border-left: 38px solid transparent;
            border-right: 38px solid transparent;
            border-top: 15px solid $white;
            left: 0;
            top: 100%;
            transform: translateY(-1px);
            position: absolute;
            transition: all 0.3s ease-in-out;
        }

        &:hover {
            background-color: $success;
            color: $white;
            box-shadow:  0 3px 6px rgba($black, 0.16);

            &::after {
                border-top-color: $success;
            }
        }
    }
}