
// All colors
$primary: #b04040;
$secondary: #CECECE;
$white: #FFFF;
$error:#E34C4C;
$success:#00981D;
$black:#000000;
$grey:#F5F5F7;
$yellow: #F0E500;

$gradient: linear-gradient(to right bottom, #d3e3de, #d7e5e2, #dbe7e6, #dfe9e9, #e4ebec, #e7ecee, #e9edef, #eceef0, #edeef0, #eeeff0, #efeff0, #f0f0f0);


//font family
$fontFamily:"Cera Pro";
$segeo:"Segoe UI";


//fonts weights
$light: 300;
$normal:normal;
$medium: 500;
$semiBold: 600;
$bold: bold;
$bolder: 900;